<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.blackboxx.tarockblock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.blackboxx.tarockblock.Main_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GameCall_Activity"
            android:label="@string/title_game_call"
            android:parentActivityName="org.blackboxx.tarockblock.SessionActive_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GameDetails_Activity"
            android:label="@string/title_game_details"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GameEditLast_Activity"
            android:label="@string/title_game_edit_last"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GameNegative_Activity"
            android:label="@string/title_game_negative"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GamePlayer_Activity"
            android:label="@string/title_game_player"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GameRegular_Activity"
            android:label="@string/title_game_regular"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GamesSoFar_Activity"
            android:label="@string/title_games_sofar"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.GameTrischaken_Activity"
            android:label="@string/title_game_trischaken"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.Info_Activity"
            android:label="@string/title_info"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.Player_Activity"
            android:label="@string/title_settings_player"
            android:parentActivityName="org.blackboxx.tarockblock.Settings_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.SessionActive_Activity"
            android:label="@string/title_session_active"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.SessionNew_Activity"
            android:label="@string/title_session_new"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.SessionOld_Activity"
            android:label="@string/title_session_old"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.Sessions_Activity"
            android:label="@string/title_sessions"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.Settings_Activity"
            android:label="@string/title_settings"
            android:parentActivityName="org.blackboxx.tarockblock.Main_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.SettingsImExport_Activity"
            android:label="@string/title_settings_imexport"
            android:parentActivityName="org.blackboxx.tarockblock.Settings_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.SettingsSync_Activity"
            android:label="@string/title_settings_sync"
            android:parentActivityName="org.blackboxx.tarockblock.Settings_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.Tariffset_Activity"
            android:label="@string/title_settings_tariff"
            android:parentActivityName="org.blackboxx.tarockblock.Settings_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.TariffsetNew_Activity"
            android:label="@string/title_settings_tariff_new"
            android:parentActivityName="org.blackboxx.tarockblock.Tariffsets_Activity" >
        </activity>
        <activity
            android:name="org.blackboxx.tarockblock.Tariffsets_Activity"
            android:label="@string/title_settings_tariffs"
            android:parentActivityName="org.blackboxx.tarockblock.Settings_Activity" >
        </activity>
    </application>

</manifest>